.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.footer-content{
    /* height: 40px !important; */
    background-color: #569BBD;
}

.fontStyle{
    font-weight: bold;
    font-size: 25px;
    padding-right: 10px;
}