.heading{
    color: #569BBD; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.addContracts{
    width: 153px;
    height: 40px;
    background-color: #569BBD;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}
.addIcon{
    margin-top: -3px;
    padding-right:10px;
}

.fontStyle{
    font-family: 'Open Sans', sans-serif;
    color: #569BBD; 
    font-weight: bold;
}

.login-content{
    width: 70%;
    border: 2px solid #D0D2D3;
    box-shadow:5px 1px 10px 1px #cccbcb;
    height: 400px; 
    background-color: #FFFF;
    border-radius:1px;
}

.contractStyle{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.textField{
    width: 400px;
    height: 25px;
}

.left{
    padding-left:10px;
}

.input-text{
    padding-left:3px;
}

.file{
    margin-top:60px;
}