<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 95px;">
  <span class="heading" *ngIf="!newContract">Manage Contracts</span>
  <span class="heading" *ngIf="newContract">New Contract</span>
</div>
<div fxLayout="row" fxLayoutAlign="end start">
  <button mat-button class="addContracts" (click)="addContracts()">
    <mat-icon class="addIcon">add_circle</mat-icon>Add Contracts</button>
</div>

<mat-horizontal-stepper *ngIf="newContract" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <p class="fontStyle">Contract</p>
      </ng-template>
      <div fxLayoutAlign="center">
        <div class="login-content" fxLayout="row" fxLayoutAlign="space-around">
          <div fxLayout="column" fxLayoutAlign="stretch" class="left">
            <p class="contractStyle">Contract Name</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="contractName" class="textField input-text" autocomplete="off">
            </div>
            <p class="contractStyle">Validity Date</p>
            <div class="content">
              <input placeholder="Choose a date" type="date" formControlName="validityDate" class="textField input-text">
            </div>
            <p class="contractStyle">First Name</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="firstName" class="textField input-text">
            </div>
            <p class="contractStyle">Last Name</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="lastName" class="textField input-text">
            </div>

            <p class="contractStyle">Middle Name</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="middleName" class="textField input-text">
            </div>

          </div>
          <div fxLayout="column" fxLayoutAlign="stretch" class="right">

            <p class="contractStyle">Terms</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="terms" class="textField input-text">
            </div>
            <p class="contractStyle">Description</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="description" class="textField input-text">
            </div>
            <mat-form-field>
              <mat-label class="contractStyle">Contract Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="contractStyle">Spend($)</p>
            <div class="content">
              <input placeholder="Enter amount in $" type="text" formControlName="Spend" class="textField input-text">
            </div>
            <p class="contractStyle">Owner</p>
            <div class="content">
              <input placeholder="No more than 50 characters" type="text" formControlName="Owner" class="textField input-text">
            </div>
          </div>
        </div>
      </div>
      <div fxLayoutAlign="center">
        <button mat-button matStepperNext class="contractStyle">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        <p class="fontStyle">Address</p>
      </ng-template>
      <div fxLayoutAlign="center">
        <div class="login-content" fxLayout="row" fxLayoutAlign="space-around">
          <div fxLayout="column" fxLayoutAlign="stretch" class="left">
            <p class="contractStyle">Address 1</p>
            <div class="content">
              <input type="text" formControlName="Address1" class="textField input-text">
            </div>
            <p class="contractStyle">Address 2</p>
            <div class="content">
              <input type="text" formControlName="Address2" class="textField input-text">
            </div>
            <p class="contractStyle">State</p>
            <div class="content">
              <input type="text" formControlName="State" class="textField input-text">
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="stretch" class="right">
            <p class="contractStyle">City</p>
            <div class="content">
              <input type="text" formControlName="City" class="textField input-text">
            </div>
            <p class="contractStyle">Zip Code</p>
            <div class="content">
              <input type="text" formControlName="zipCode" class="textField input-text">
            </div>
          </div>
        </div>
      </div>
      <div fxLayoutAlign="center">
        <button mat-button matStepperPrevious class="contractStyle">Back</button>
        <button mat-button matStepperNext class="contractStyle">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        <p class="fontStyle">Details</p>
      </ng-template>

      <div fxLayoutAlign="center">
        <div class="login-content" fxLayout="row" fxLayoutAlign="space-around">
          <div fxLayout="column" fxLayoutAlign="stretch" class="left">
            <mat-form-field>
              <mat-label>Category</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Sub Category</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <p class="contractStyle">Renewal Type</p>
            <div class="content">
              <input type="text" formControlName="RenewalType" class="textField input-text">
            </div>

            <p class="contractStyle">Renewal Term Length</p>
            <div class="content">
              <input type="text" formControlName="RenewalTermLength" class="textField input-text">
            </div>

            <p class="contractStyle">Renewal Notice Period</p>
            <div class="content">
              <input type="text" formControlName="RenewalTermLength" class="textField input-text">
            </div>

          </div>
          <div fxLayout="column" fxLayoutAlign="stretch" class="right">

            <mat-form-field>
              <mat-label>Termination</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="contractStyle">Cure Provisions</p>
            <div class="content">
              <input type="text" formControlName="Provisions" class="textField input-text">
            </div>
            <p class="contractStyle">Cure Period</p>
            <div class="content">
              <input type="text" formControlName="Period" class="textField input-text">
            </div>
            <p class="contractStyle">Cure Description</p>
            <div class="content">
              <input type="text" formControlName="Description" class="textField input-text">
            </div>

          </div>
        </div>
      </div>
      <div fxLayoutAlign="center">
        <button mat-button matStepperPrevious class="contractStyle">Back</button>
        <button mat-button matStepperNext class="contractStyle">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>
        <p class="fontStyle">Approval</p>
      </ng-template>
      <div fxLayoutAlign="center">
        <div class="login-content" fxLayout="row" fxLayoutAlign="space-around">
          <div fxLayout="column" fxLayoutAlign="stretch" class="left">
            <mat-form-field>
              <mat-label  class="approverTextField">Level 1 Approver</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of approve" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label  class="approverTextField">Level 2 Approver</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of approve" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label  class="approverTextField">Level 3 Approver</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of approve" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="stretch" class="right">

            <app-upload-control class="file"></app-upload-control>

          </div>
        </div>
      </div>
      <div fxLayoutAlign="center">
        <button mat-button matStepperPrevious class="contractStyle">Back</button>
        <button mat-button matStepperNext class="contractStyle">Submit</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
</mat-horizontal-stepper>

<div *ngIf="!newContract" fxLayout="row" style="margin:0px 5px 0px 5px;" fxLayoutAlign="start center">
    <mat-tab-group style="width:100%" (selectedTabChange)="changeToggle($event)" [(selectedIndex)]="selectedIndex">
          <mat-tab label="Contracts"></mat-tab>
    </mat-tab-group>
</div>

<!-- <div  *ngIf="!newContract" style="margin: 0px 5px 10px 5px;">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
</div> -->