<mat-toolbar>
  <mat-toolbar-row class="header-row" fxLayout="row">
    <div>
      <img src="assets/images/logo.png" alt="" style="height:56px;" class="logo">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div style="margin-top: 55px;text-align: center;">
  <p class="welcomeText">Login!</p>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="main-content">
  <div class="login-content" fxLayout="column" fxLayoutAlign="start center">
    <div fxShow="!isLoginSuccess" class="error">
      <span>{{message}}</span>
    </div>
    <form [formGroup]="userForm">
      <div fxLayout="column" fxLayoutAlign="space-evenly center" style="height: 200px;">
        <div fxLayout="row" class="login_content">
          <input placeholder="Email Address" type="email" formControlName="loginID" tabindex="1" class="email input-text" value=""
            autocomplete="off">
          <div style="margin-top:10px">
            <mat-icon class="login_Icon">person</mat-icon>
          </div>
        </div>
        <div fxLayout="row" class="login_content">
          <input placeholder="Password" type="password" formControlName="password" tabindex="2" class="password input-text" autocomplete="off">
          <div style="margin-top:10px">
            <mat-icon class="login_Icon">lock</mat-icon>
          </div>
        </div>
      </div>

      <div class="check_box">
        <input type="checkbox">
        <span>Keep me logged in</span>
      </div>

      <div class="login-button" fxLayoutAlign="center center">
        <div (click)="login(userForm)">
          <button mat-button name="login-submit" tabindex="4" class="login-btn">Log In</button>
        </div>
      </div>
    </form>
    <a (click)="forgotPasswordPage()" class="forgotPassword"> Forgot Password?</a>
  </div>
</div>
<mat-toolbar class="footer-content">
  <mat-toolbar-row fxLayoutAlign="center center">
    <div fxLayout="row">
      <div class="fontStyle">&copy;</div>
      <div class="footer-text"> 2019 Americold, Inc.</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>