.main-content{
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 0;
    width: 100%;
}

.login-content{
    width: 421px;
    /* border: 1px solid #D0D2D3; */
    box-shadow:5px 1px 8px 1px #cccbcb;
    height: 400px; 
    background-color: #FFFF;
    border-radius:1px;
}

.login_content{
    box-shadow:5px 1px 8px 1px #cccbcb;
    border-radius:1px;
    margin-top: 20px;
}
.login-btn{
    width:376px;
    height: 42px;
    background-color:#569BBD; 
    margin-top:30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFF; 
}
.email{
    width: 376px ;
    height: 42px;
    line-height: 10px;
    padding-left:10px;
}

.password{
    width: 376px;
    height: 42px;
    line-height: 10px;
    padding-left:10px;
}

.error{
    color:#d00;
    font-size:16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 24px !important;
  }

  .input-text{
    width:376px;
    height: 42px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* color: #569BBD; */
    /* border-radius: 5px; */
}

.forgotPassword{
    cursor: pointer;
    color: #569BBD; 
    margin-top:20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.check_box{
    margin-right: 35px;
    color: #569BBD; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.welcomeText{
    color: #569BBD; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

::placeholder { 
    color: #569BBD;
    /* opacity: 4;  */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 0px;
    font-weight: bold;
}    

.header-row {
    height: 68px;
    background-color: #569BBD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 70%;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.footer-content{
    height: 40px !important;
    background-color: #569BBD;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}