<div fxFlex fxLayout="row" fxLayoutAlign="center center" style="margin-top: 95px;">
  <p class="welcomeText">Hello!</p>
</div>

<div fxFlex fxLayout="row" fxLayoutAlign="center center" class="main-content">
  <div class="login-content" fxLayout="column" fxLayoutAlign="start center">
      <div fxShow="!isLoginSuccess" class="error">
            <span>{{message}}</span>
      </div>
    <form [formGroup]="userForm">
      <div fxLayout="column" fxLayoutAlign="space-evenly center" style="height: 200px;">
        <div class="login_content">
          <input placeholder="Email Address" type="email" formControlName="loginID" tabindex="1" class="email input-text" value="" autocomplete="off">
          <!-- <mat-icon>person</mat-icon> -->
        </div>
        <div class="login_content">
          <div>
            <input placeholder="Password" type="password" formControlName="password" tabindex="2" class="password input-text" autocomplete="off">
            <!-- <mat-icon>lock</mat-icon> -->
          </div>
        </div>
      </div>

      <div class="check_box">
        <input type="checkbox">
        <span>Keep me logged in</span>
      </div>

      <div class="login-button" fxLayoutAlign="center center">
        <div (click)="login(userForm)">
          <button mat-button name="login-submit" tabindex="4" class="login-btn">Log In</button>
        </div>
      </div>
    </form>
    <a (click)="forgotPasswordPage()" class="forgotPassword"> Forgot Password?</a>
  </div>
</div>